services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: camping_dashboard
    restart: always
    env_file:
      - .env
    expose:
      - "3000"
    networks:
      - nginx-proxy-net

networks:
  nginx-proxy-net:
    external: true
